#icon-search {
    color: white;
    position: fixed;
    top: 0.7em;
    right: 3em;
    z-index: 10;
}

#icon-search:hover {
    color: #1db954;
    cursor: pointer;
}

#sidebar {
    padding: 1em 2em;
}

#result-list {
    text-align: left;
    color: white;
}
#list-result {
    text-align: left !important;
    color: white;
    width: 100%;
}

#list-result .item {
    text-align: left;
}

#list-result .item:hover {
    color: #1db954;
}
